<header>
  <nav>
    <li><a href="/" class="title">Web Lib</a></li>
  </nav>
  <div class="navbar">
    <ul class="navbar__items">
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">New Author</a></li>
      <li><a href="/books">Book</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </div>
  <div class="auth">
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
  </div>

</header>