<div class="form__container">
    <div class="form__control">
        <form action="/users/login" method="POST">
            <h1>Login</h1>
            <label htmlFor="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Please enter your email">

            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Please enter your password">

            <button type="submit">Login</button>
        </form>
        <p>Do not have an account ? <a href="/users/register">Register</a></p>
    </div>
</div>